.nav-link:hover{
    font-family: cursive;
    font-weight: 700;
    color: red !important;
    transition: 0.3s;
}
.navbar-brand img:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
